@import "tailwindcss";

@theme {
  --color-brand-black: #0a0a0a;
  --color-brand-orange: #ff9900;
  --color-brand-dark: #121212;
  --color-brand-gray: #1f1f1f;
  --color-brand-light-gray: #333333;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-black text-white antialiased overflow-x-hidden;
  }
}